{% extends 'base_main.html' %}
{% load static %}
{% block content %}
<!--====== SEARCH BOX PART START ======-->
    
<div class="search-box">
  <div class="serach-form">
      <div class="closebtn">
          <span></span>
          <span></span>
      </div>
      <form action="#">
          <input type="text" placeholder="Search by keyword">
          <button><i class="fa fa-search"></i></button>
      </form>
  </div> <!-- serach form -->
</div>

<!--====== SEARCH BOX PART ENDS ======-->

<!--====== PAGE BANNER PART START ======-->

{% comment %} <section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(images/page-banner-1.jpg)">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="page-banner-cont">
                  <h2>About Us</h2>
                  <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="#">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">About Us</li>
                      </ol>
                  </nav>
              </div>  <!-- page banner cont -->
          </div>
      </div> <!-- row --> {% endcomment %}
  </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->

<!--====== ABOUT PART START ======-->

<section id="about-page" class="pt-70 pb-110">
  <div class="container">
      <div class="row">
          <div class="col-lg-5">
              <div class="section-title mt-50">
                  <h5>About us</h5>
                  <h2>Welcome to Edubin </h2>
              </div> <!-- section title -->
              <div class="about-cont">
                <p>Keres Engineering and Appliance Technology (KEAT) is a Zambian registered engineering company, established under Act No. 16 of 2011 of the Laws of Zambia. KEAT is dedicated to providing specialized, professional, and high-quality electrical engineering and appliance repair services to its valued customers, both locally and internationally. We are passionate about equipping individuals with the skills needed in various engineering fields through our comprehensive Continuous Professional Development (CPD) courses.

                  CPD is a continuous and ongoing process of acquiring new skills, knowledge, and competencies throughout one’s lifetime. It should be a personal commitment for every professional or individual to stay up to date with the latest developments, adapt to changes, and continuously improve their skills. At KEAT, we believe that growth in knowledge leads to growth in life and global development.
                  
                  At KEAT, we are committed to providing specialized and quality services in the electrical and Appliance technological fields. Furthermore , we are fostering a skilled, equipped, and effective workforce, ensuring that positive change is inevitable around us.</p>
              </div>
          </div> <!-- about cont -->
          <div class="col-lg-7">
              <div class="about-image mt-50">
                <img src="{% static 'edulook/images/about/about-2.jpg' %}" alt="Image">

              </div>  <!-- about imag -->
          </div> 
      </div> <!-- row -->
      <div class="about-items pt-60">
          <div class="row justify-content-center">
              
              <div class="col-lg-4 col-md-6 col-sm-10">
                  <div class="about-singel-items mt-30">
                      <span>01</span>
                      <h4>Our Mission</h4>
                      <p> To empower communities by providing reliable appliance repair and electrical services, manufacturing affordable, high-quality appliances, and offering comprehensive appliance repair training courses to foster skill development and economic empowerment.</p> </p>
                  </div> <!-- about singel -->
              </div>
              <div class="col-lg-4 col-md-6 col-sm-10">
                  <div class="about-singel-items mt-30">
                      <span>02</span>
                      <h4>Our vission</h4>
                      <p> To revolutionize the appliance and electrical industry by becoming a leading provider of innovative, sustainable, and accessible appliance and electrical solutions that enhance everyday living and contribute to societal progress.</p>
                  </div> <!-- about singel -->
              </div>

              <div class="col-lg-4 col-md-6 col-sm-10">
                <div class="about-singel-items mt-30">
                    <span>03</span>
                    <h4>Core Values</h4>
                    <p><b> 1. Excellence:</b> We strive for excellence in all that we do, delivering exceptional products, services, and training programs.<br>
                      <b>2. Innovation:</b> We embrace innovation, continuously seeking new ways to improve our products, services, and training methods.<br>
                     <b> 3. Community Impact:</b> We are dedicated to making a positive impact in our communities by providing valuable services and opportunities for skill development.<br>
                     <b> 4. Integrity:</b> We conduct ourselves with integrity, honesty, and transparency in all our dealings with customers, partners, and stakeholders.<br>
                     <b> 5. Sustainability:</b> We are committed to sustainability, considering environmental and social factors in our business decisions and practices</p>
                </div> <!-- about singel -->
            </div>
          </div> <!-- row -->
      </div> <!-- about items -->
  </div> <!-- container -->
</section>

<!--====== ABOUT PART ENDS ======-->

<!--====== COUNTER PART START ======-->

<div id="counter-part" class="bg_cover pt-65 pb-110" data-overlay="8" style="background-image: url(images/bg-2.jpg)">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-sm-6">
              <div class="singel-counter text-center mt-40">
                  <span><span>Brief History</span></span>
                
                    <div class="container  text-center mt-40">
                      
                      <p style="text-align: justify;">Keres Engineering and Appliance Technology (KEAT) was established in 2022 with a primary focus on providing specialized sewing machine repair services. Originating from a background in industrial maintenance supervision at a leading company, KEAT quickly gained recognition for its commitment to quality and excellence in repair services.<br><br>
                    
                        Over time, driven by a growing demand for broader engineering solutions, KEAT expanded its offerings to include comprehensive electrical engineering services and diversified appliance repairs. Today, KEAT stands as a trusted provider of appliance repair services, specializing in a wide range of household appliances.<br><br>
                        
                        In addition to our repair expertise, KEAT is dedicated to enhancing professional development within the engineering community through our Continuous Professional Development (CPD) courses. These courses are designed to equip individuals with the skills necessary to excel in various engineering fields, ensuring they remain at the forefront of industry advancements.<br><br>
                        
                        From humble beginnings in the sewing machine repair industry to a multifaceted engineering and appliance technology company, KEAT continues to uphold its core values of excellence, innovation, and community impact. Our journey reflects our unwavering dedication to delivering reliable, high-quality services and empowering individuals through education and training.<br><br></p>
                    </div> <!-- container -->
                
              </div> <!-- singel counter -->
            </div>
      </div> <!-- row -->
  </div> <!-- container -->
</div>


{% endblock %}






